{% extends 'orders/base.html' %}
    {% block content %}
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <span class="navbar-text">
                {% block navbar_text %}{% endblock %}
            </span>
            {% block navbar_buttons %}{% endblock %}
        </div>
    </nav>

    <table class="table caption-top">
        <caption>Список заказов. Автор: {{ user.username }}</caption>
        <thead>
            <tr>
                <th>Номер</th>
                <th>Покупатель</th>
                <th>Сумма</th>
                <td>
                    <a href ="{{ url_for('orders_app.new') }}"
                       type="button" class="btn btn-outline-success">Новый заказ</a>
                </td>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.num }}</td>
                    <td>{{ order.buyer.buyer_name }}</td>
                    <td>{{ order.sum }}</td>
                    <td>
                        <a href="{{ url_for('orders_app.order', order_id=order.id) }}"
                        type="button" class="btn btn-outline-info">Потроха</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}