{% extends 'orders/base.html' %}
{% block content %}
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <span class="navbar-text">
                Заказ № {{ order.num }}. Автор: {{ order.user.username }}
            </span>
            <div>
                <button id="btn-reply-orders" class="btn btn-outline-secondary material-icons" title="К списку"
                        type="button">reply</button>
                <button id="btn-logout" class="btn btn-outline-secondary material-icons" title="Выход"
                        type="button">logout</button>
            </div>
        </div>
    </nav>
    <table class="table caption-top">
        <caption>
            Дата: {{ order.date }}<br>
            Покупатель: {{ order.buyer.buyer_name }}<br>
            Магазин: {{ order.shop.shop_name }}<br>
            Сумма {{ order.sum }}<br>
        </caption>
        <thead>
            <tr>
                <th>№</th>
                <th>Наименование</th>
                <th>Количество</th>
                <th>Цена</th>
                <th>Сумма</th>
            </tr>
        </thead>
        <tbody>
            {% for prod in order.orders_products %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ prod.product.product_name }}</td>
                    <td>{{ prod.quantity }}</td>
                    <td>{{ prod.price }}</td>
                    <td>{{ prod.sum }}</td>
                 </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block script %}
    <script>
        $('#btn-reply-orders').on('click', function() {
            window.location.replace('{{ url_for('orders_app.orders') }}')
        })
        $('#btn-logout').on('click', function() {
            window.location.replace('{{ url_for('login_app.logout') }}')
        })
    </script>
{% endblock %}