{% extends 'orders/base.html' %}
{% block title %}
    Новый заказ
{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Keyboard.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}
{% block navbar_text %}{{ param['user'].username }}: Создание заказа{% endblock %}
{% block navbar_buttons %}
    <button id="nav-order_submit" class="btn btn-primary material-icons" type="button" title="Удалить строку">save</button>
{% endblock %}
{% block content %}
    {% set buyers = param['buyers'] %}
    {% set shops = param['shops'] %}
    {% if not param['buyer'] %}
        {% set buyer_id = 0 %}
        {% set buyer_name = '' %}
    {% else %}
        {% set buyer_id = param['buyer'].id %}
        {% set buyer_name = param['buyer'].buyer_name %}
    {% endif %}
    {% if not param['shop'] %}
        {% set shop_id = 0 %}
        {% set shop_name = '' %}
    {% else %}
        {% set shop_id = param['shop'].id %}
        {% set shop_name = param['shop'].shop_name %}
    {% endif %}
    {% set products = param['products'] %}
    <!-- Модальное окно 'Выбор покупателя'-->
    <div class="modal fade" id="buyerModal" tabindex="-1" aria-labelledby="SelectBuyerModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="SelectBuyerModal">Выбор покупателя</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <div class="list-group " id="buyer_list">
                        {% for buyer in buyers %}
                            <button type="button" class="list-group-item list-group-item-action" id="{{ buyer.id }}">{{ buyer.buyer_name }}</button>
                        {% endfor %}
                    </div>
                </div>
             </div>
        </div>
    </div>
    <!-- Модальное окно 'Выбор магазина'-->
    <div class="modal fade" id="shopModal" tabindex="-1" aria-labelledby="SelectShopModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="SelectShopModal">Выбор магазина</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <div class="list-group " id="shop_list">
                        {% for shop in shops %}
                            <button type="button" class="list-group-item list-group-item-action" id="{{ shop.id }}">{{ shop.shop_name }}</button>
                        {% endfor %}
                    </div>
                </div>
             </div>
        </div>
    </div>
    <!-- Модальное окно 'Подбор товара'-->
    <script src="{{ url_for('static', filename='js/Keyboard.js') }}"></script>
    <div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="SelectProductModal" data-bs-backdrop="static" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="SelectProductModal">Подбор товара</h5>
                    <button id="close_product_form" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <div class="accordion" id="accordionProduct">
                        {% for product in products %}
                            <div class="accordion-item">
                                <h5 class="accordion-header" id="heading{{ loop.index }}">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapseOne">
                                        {{ product.product_name }}
                                    </button>
                                </h5>

                                <div id="collapse{{ loop.index }}" class="accordion-collapse collapse" aria-labelledby="heading{{ loop.index }}" data-bs-parent="#accordionProduct">
                                    <div class="accordion-body">
                                        <div class="input-group">
                                            <label class="input-group-text" for="in_q_{{ product.id }}">Количество</label>
                                            <input class="use-keyboard-input form-control" id="in_q_{{ product.id }}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
             </div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-7 col-lg-8">
                <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <div hidden>
                        {{ form.buyer_id(class="form-control", id='input_buyer_id', value=buyer_id) }}
                        {{ form.shop_id(class="form-control", id='input_shop_id', value=shop_id) }}
                    </div>
                    <div class="input-group has-validation mb-3">
                        <span class="input-group-text" id="buyer_id" data-id="{{ buyer_id }}">{{ buyer_id }}</span>
                        {{ form.buyer(size=100, class="form-control", placeholder="Покупатель", id='input_buyer', value=buyer_name) }}
                        <button class="btn btn-primary material-icons" type="button" data-bs-toggle="modal" data-bs-target="#buyerModal">more_horiz</button>
                        <a href="{{ url_for('orders_app.add', buyer_id=0, shop_id=0) }}" class="btn btn-danger material-icons" type="button">clear</a>
                    </div>
                    <div class="input-group has-validation mb-3">
                        <span class="input-group-text" id="shop_id" data-id="{{ shop_id }}">{{ shop_id }}</span>
                        {{ form.shop(size=100, placeholder="Магазин", class="form-control", id='input_shop', value=shop_name) }}
                        <button class="btn btn-primary material-icons" type="button" data-bs-toggle="modal" data-bs-target="#shopModal">more_horiz</button>
                    </div>
                    <div class="navbar navbar-light bg-light" role="navigation">
                        <div class="container-fluid">
                            <span class="navbar-text">Список товаров</span>
                            <div>
                                <button class="btn btn-primary material-icons" type="button"
                                        title="Удалить строку">delete</button>
                                {% if shop_id > 0 and buyer_id > 0 %}
                                    <button class="btn btn-primary material-icons" type="button" data-bs-toggle="modal"
                                        data-bs-target="#productModal" title="Подбор товара">local_grocery_store</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <table class="table table-bordered table-sm" id="table_product">
                        <thead class="table-secondary">
                            <tr>
                                <th>Наименование</th>
                                <th>Кол-во</th>
                                <th>Цена</th>
                                <th>Сумма</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in rows %}
                                {% set key = row.name %}
                                <tr data-row_name="{{ row.name }}" data-id="{{ row.prod.id }}">
                                    <td>{{ row.prod.product_name }}</td>
                                    <td>55</td>
                                    <td>{{ row.price_val }}</td>
                                    <td>{{ row.sum }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% for row in rows %}
                        {% set key = row.name %}
                        {{ form[key](class="form-control",value=row.val, style="border-width: 0px") }}
                    {% endfor %}
                    {{ form.submit(class="btn btn-primary mt-5", id="form-order-submit") }}
                 </form>
            </div>
        </div>
    </div>
    <script>
        Keyboard.init("productModal", 'add_shopping_cart')
        $('#add_shopping_button').on('click', function (){

            let id_inp = Keyboard.properties.el_id;
            let quant = document.getElementById(id_inp).value
            let id_pr = id_inp.replace('in_q_', '');
            let shop_id = document.getElementById('shop_id').innerText;
            let xhr = new XMLHttpRequest();
            let url = "{{ url_for('orders_app.new_product', shop_id='shop_id', product_id='id_pr', quantity='quant' ) }}";
            url = url.replace('shop_id', shop_id).replace('id_pr', id_pr).replace('quant', quant);
            console.log('url:', url)
            xhr.open('GET', url, true);
            xhr.responseType = 'text';
            xhr.onload = function () {
                if (xhr.readyState === xhr.DONE) {
                    console.log(xhr.status);
                    console.log(xhr.responseText);
                }
            }
            xhr.send(null);
        })
//         $('#nav-order_submit').on('click', function (){
//            console.log('nav submit');
//            console.log($('#form-order-submit').attr('id'))
//            $('#form-order-submit').trigger('click')
//        })
//            $('#form-order-submit').on('click', function (){
//            console.log('form submit')
//        })

        $('#table_product>tbody>tr').on('click', function (){
            $('.table-active').removeClass('table-active');
            $(this).addClass("table-active");
            console.log('это tr');
        })
        $('#close_product_form').on('click',function (){
            let url = "{{ url_for('orders_app.add', buyer_id='buyer_id', shop_id='shop_id') }}"
                .replace('buyer_id', $('#buyer_id').attr('data-id')).replace('shop_id', $('#shop_id').attr('data-id'));
            console.log(url);
            window.location.replace(url);
        })

        $('#buyer_list>button.list-group-item').on('click', function (){
            let url = "{{ url_for('orders_app.add', buyer_id='buyer_id', shop_id=0) }}".replace('buyer_id', $(this).attr('id'));
            window.location.replace(url);
        })
        $('#shop_list>button.list-group-item').on('click', function (){
            let url = "{{ url_for('orders_app.add', buyer_id='buyer_id', shop_id='shop_id') }}"
                .replace('shop_id', $(this).attr('id')).replace('buyer_id', $('#input_buyer_id').attr('value'));
            window.location.replace(url);
        })
    </script>
{% endblock %}
{% block script %}
    <script>

    </script>
{% endblock %}
